[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
faiss-cpu = "*"
tiktoken = "*"
ipdb = "*"
promptlayer = "*"

[dev-packages]

[requires]
python_version = "3.10"
